.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.footer__address {
  margin-right: 70px;
}

.logo-link.footer-logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-contacts-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.footer-contacts-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 9px;
  display: block;
  &:first-child {
    margin-top: 0;
  }
}
.join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--footer-contacts-color);
  margin-bottom: 20px;
}

.footer-join {
  color: var(--footer-contacts-color);
  margin-right: auto;
}

.join-item {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--footer-contacts-color);
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: none;
  }
}

.join-social-icon {
  fill: currentColor;
}

.join-item + .join-item {
  margin-left: 10px;
}

.mailing-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--hero-title-color);
}

.form-email input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  margin-right: 12px;

  color: var(--footer-link-color);
  background-color: var(--hero-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.btn-mailing {
  width: 200px;
  height: 50px;
  display: inline-flex;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--button-color);
  background-size: contain;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
}

.btn-mailing:focus {
  background-color: var(--focus-button-color);
}

.icon-send {
  margin-left: 10px;
}
