.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  justify-content: space-between;
}
.header__container {
  display: flex;
  align-items: center;
}
.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: start;
}
