.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--duration), visibility var(--duration),
    pointer-events var(--duration);
}

.backdrop.is-hidden .modal {
  transform: rotate(150deg);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--modal-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--duration);
  padding: 40px 39px 40px 41px;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-text-color);
  margin-bottom: 12px;
}

.modal-input-wrap {
  position: relative;
}

.form {
  display: inline-block;
}

.form-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 14px;
  transition-property: border-color, fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
  /* margin-bottom: 10px; */
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-modal-icon {
  color: var(--title-color);
}

.btn-modal-icon:hover,
.btn-modal-icon:focus {
  color: var(--accent-color);
}

.btn-modal {
  width: 30px;
  height: 30px;
  background-color: var(--modal-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  color: var(--title-color);
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-modal:hover,
.btn-modal:focus {
  color: var(--accent-color);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--main-text-color);
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.form-user-text {
  margin-bottom: 20px;
}

.form-modal-check {
  margin-bottom: 30px;
}

.modal-check-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-text::before {
  content: '';
  width: 12px;
  height: 11px;
  border: 2px solid var(--header-text-color);
  border-radius: 2px;
  display: block;
  margin-right: 7px;
  cursor: pointer;
}

.modal-check:focus + .modal-check-text::before {
  border-color: var(--accent-color);
}

.modal-check:checked + .modal-check-text::before {
  background-image: url(../images/iconcheck.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: var(--accent-color);
}

.modal-document {
  color: var(--accent-color);
  margin-left: 3px;
}

.btn-modal-submit {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  padding: 10px 55px 10px 56px;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic);
}

.btn-modal-submit:focus {
  background-color: var(--focus-button-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
